{% extends 'base.html'%}
{% load static %}
{% block  content %}

<div class="row">
    <div class="col-md-7 offset-2">
        <h3 class="text-center"> <i class="display-5">ABOUT-US</i></h3>
        <p class="fw-4">We, Gill Tiffin Services, situated at bathinda, village Jodhpur romana, punjab, offer pre-planned meal packages that a customer can customize to his liking. It is our endeavor to make sure that you enjoy homely cooked food at very affordable rates and hassle-free packages. We offer a wide array of meal options in vegetarian and non-vegetarian sections. Each option is not just finger-licking 
            good but highly nutritious and prepared under very hygienic conditions.</p>
</div>
</div>




{% endblock%}